<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Thermometer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Thermometer.Properties.Settings>
            <setting name="MaxTemp" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="MinTemp" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ShutOff" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="Rate" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>WhiteSmoke</value>
            </setting>
            <setting name="LinesColor" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="GraphColor" serializeAs="String">
                <value>CornflowerBlue</value>
            </setting>
            <setting name="WidthGraph" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="WidthShutOff" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ShutOffColor" serializeAs="String">
                <value>HotPink</value>
            </setting>
            <setting name="LinesChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShutOffChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoScaling" serializeAs="String">
                <value>True</value>
            </setting>
        </Thermometer.Properties.Settings>
    </userSettings>
</configuration>